<h2>Show Order</h2>

<ul>

  <li>
    <strong>Order date:</strong>
    <%= @order.order_date %>
  </li>
  <%= for item <- @items do %>
    <li><%= item.qty %> <%= "#{item.product.code}: #{item.product.desc}" %></li>
  <% end %>
</ul>
<%= link "Add item", to: item_path(@conn, :new, %{order: @order}) %>
<span><%= link "Edit", to: order_path(@conn, :edit, @order) %></span>
<span><%= link "Back", to: order_path(@conn, :index) %></span>
